<!DOCTYPE html>
<html>
<head>
<title>HaW Calculator</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<script type="text/javascript">
    function InsertDefaultValues()
    {
       var FieldsAndDefault = new Array();
    
       FieldsAndDefault.push("age_at_menarche -1");
       FieldsAndDefault.push("current_amenorrhea_duration 0");
    
       for( var i=0; i<FieldsAndDefault.length; i++ )
       {
          console.log('I am here')
          FieldsAndDefault[i] = FieldsAndDefault[i].replace(/^\s*/,"");
          var pieces = FieldsAndDefault[i].split(" ");
          var field = pieces.shift();
          var f = document.getElementById(field);
          if( f.value.length < 1 ) { f.value = pieces.join(" "); }
       }
       return true;
    }
    </script>    
    <script>
        function openNav() {
          document.getElementById("mySidebar").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidebar").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
        }
        window.onload = closeNav;
    </script>
</head>

<body class="w3-light-grey">
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/">Height and Weight</a>
    <a class="active" href="/low_bmd">Bone Mineral Density</a>
    <a href="/about">About</a>
</div>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;" id="main">
  <button class="openbtn" onclick="openNav()">☰</button>  
  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <h1>Low BMD Risk Calculator</h1>
        <div class="w3-container">
                <form action="/get_score" method="get" onsubmit="InsertDefaultValues()" class="form2">
                    <div>
                        <p>Age at menarche:  <span title="Age in years when the first menstruation occured (leave empty in case it has not occured yet.)">&#x1F6C8;</span></p>
                        {% if age_at_menarche %}
                        <input type="number" name="age_at_menarche" id="age_at_menarche" min="5" max="40" value="{{age_at_menarche}}"
                        oninvalid="this.setCustomValidity('Enter a valid age between 5 and 40 or leave empty in case the first menstruation has not occured yet.')"
                        oninput="this.setCustomValidity('')" class="center"/>
                        {% else %}
                        <input type="number" name="age_at_menarche" id="age_at_menarche" min="5" max="40" placeholder="13" value=""
                        oninvalid="this.setCustomValidity('Enter a valid age between 5 and 40 or leave empty in case the first menstruation has not occured yet.')"
                        oninput="this.setCustomValidity('')" class="center"/>
                        {% endif %}

                        <p>Current amenorrhea duration:  <span title="Current duration of amenorrhea in months (leave empty in case not currently amenorrheic.). Amenorrhea is the absence of a menstrual period.">&#x1F6C8;</span></p>
                        {% if current_amenorrhea_duration %}
                        <input type="number" name="current_amenorrhea_duration" id="current_amenorrhea_duration" min="0" value="{{current_amenorrhea_duration}}" 
                        oninvalid="this.setCustomValidity('Enter a valid number of months or leave empty in case there is no amenorrhea currently.')"
                        oninput="this.setCustomValidity('')" class="center"/>
                        {% else %}
                        <input type="number" name="current_amenorrhea_duration" id="current_amenorrhea_duration" min="0" placeholder="3" value=""
                        oninvalid="this.setCustomValidity('Enter a valid number of months or leave empty in case there is no amenorrhea currently.')"
                        oninput="this.setCustomValidity('')" class="center"/>
                        {% endif %}     

                        <p>BMI: <span title="Current body mass index, given by the weight in kilograms divided by the square of the height in meters.">&#x1F6C8;</span></p>
                        {% if bmi %}
                        <input type="text" name="bmi" id="bmi" value="{{bmi}}" inputmode="numeric" pattern="\d+(.\d)*" required
                        oninvalid="this.setCustomValidity('Enter a valid BMI.')"
                        oninput="this.setCustomValidity('')" class="center"/>
                        {% else %}
                        <input type="text" name="bmi" id="bmi" value="{{bmi}}" placeholder="22.1" inputmode="numeric" pattern="\d+(.\d)*" required
                        oninvalid="this.setCustomValidity('Enter a valid BMI.')"
                        oninput="this.setCustomValidity('')" class="center"/>
                        {% endif %}

                        <div class="radio_buttons">
                        <p>Secondary amenorrhea for more than 1 year in the teens: <span title="Whether the subject had secondary amenorrhea for more than one year as a teen." class="tooltiptext">&#x1F6C8;</span></p>
                        <fieldset>
                        {% if secondary_amenorrhea %}
                        <label for="yes"> <input type="radio" name="secondary_amenorrhea" id="yes" checked="checked" value="true"/> Yes</label>
                        <label for="no"> <input type="radio" name="secondary_amenorrhea" id="no" value="false"/> No</label>
                        {% else %}
                        <label for="yes"> <input type="radio" name="secondary_amenorrhea" id="yes" value="true"/> Yes</label>
                        <label for="no"> <input type="radio" name="secondary_amenorrhea" id="no" checked="checked" value="false"/> No</label>
                        {% endif %}
                        </fieldset>
                        </div> 

                        <div class="radio_buttons">
                        <p>Fracture history: <span title="Whether the subject has a history of stress fractures (including those under treatment).">&#x1F6C8;</span></p>
                        <fieldset>
                        {% if fracture_history %}
                        <label for="yes"><input type="radio" name="fracture_history" id="yes" checked="checked" value="true"/> Yes</label>
                        <label for="no"><input type="radio" name="fracture_history" id="no" value="false"/> No</label>
                        {% else %}
                        <label for="yes"><input type="radio" name="fracture_history" id="yes" value="true"/> Yes</label>
                        <label for="no"><input type="radio" name="fracture_history" id="no" checked="checked" value="false"/> No</label>
                        {% endif %}
                        </fieldset>
                        </div>

                        <div class="radio_buttons">
                        <p>Exercise load: <span title="The impact of the exercises practiced.\nHigh impact sports include hurdles, gymnastics, etc.\nMulti-directional impact includes sports such as football, boxing, etc. \nLow impact sports include long distance athletics, climbing, etc.\n Non-impact sports include swimming, cycling, etc.">&#x1F6C8;</span></p>
                        <fieldset>
                        {% if high_exercise_load %}
                        <label for="yes"><input type="radio" name="high_exercise_load" id="yes" checked="checked" value="true"/> High or multi-directional</label>
                        <label for="no"><input type="radio" name="high_exercise_load" id="no" value="false"/> Low or none</label>
                        {% else %}
                        <label for="yes"><input type="radio" name="high_exercise_load" id="yes" value="true"/> High or multi-directional</label>
                        <label for="no"><input type="radio" name="high_exercise_load" id="no" checked="checked" value="false"/> Low or none</label>
                        {% endif %}
                        </fieldset>
                        </div>
                        <div class="buttons">
                            <input type="submit" value="Calculate" id="input-submit">
                        </div>
                    </div>
                </form>
          </div>
        </div>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
        <h1>Results</h1>
        <div>
            <div id="top_row">
                {% if score %}
                    <h2> Your score is:</h2>
                    {% if score > 3 %}
                    <div class="red_box"> {{score}} </div>
                    <h3>Scores over 3 might indicate higher risks of low bone mineral density.</h3>
                    {% else %}
                    <div  class="green_box"> {{score}} </div>
                    <h3>Scores of 3 and under usually indicate low risks of low bone mineral density.</h3>
                    {% endif %}
                {% endif %}
            </div>
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top" id="foot">
  <p>Kiyono Lab</p>
  <p>Graduate School of Engineering Sciences - Osaka University</p>
  <a href="https://github.com/jkruse27/Percentile-Calculator" class="fa fa-github w3-hover-opacity"></a>
  <a href="https://chaos-kiyono.hatenablog.com/" class="fa fa-newspaper-o w3-hover-opacity"></a>
  <a href="http://kiyono-lab.bpe.es.osaka-u.ac.jp/" class="fa fa-external-link w3-hover-opacity"></a>
</footer>

</body>
</html>
