@import url(https://fonts.googleapis.com/css?family=Merriweather);

*, 
*:before, 
*:after {
   @include box-sizing(border-box); 
}

input[type="text"] {
  display: block;
  margin : 0 auto;
}
input[type="number"] {
  display: block;
  margin : 0 auto;
}
fieldset {
  text-align: center;
}
label {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}
form input[type="radio"] {
  display: inline-block;
  clear: none;
  width: auto;
}

select {
  display: block;
  margin : 0 auto;
}

.container {
   display: flex;
 }

 .container img {
   width:100%;
   height:100%;
   object-fit:contain;
 } 

 .w3-container input{ /* You Can Name it what you want*/
  margin-right:2em;
  }
  .w3-container input:last-child{
  margin-right:0px;
  /*so the last one dont push the div thas giving the space only between the inputs*/
  }

 #col-3 {
   position: relative;
   width: 50%;
   float: left;
   height: 100%;
   background-color: #b3b0b0;
   z-index: 1010101010
 }
 
 #col-4 {
   position: relative;
   width: 50%;
   float: left;
   height: 100%;
   background-color: #b3b0b0;
   z-index: 1010101010
 }

 #top_row {
   position: relative;
   margin-top: 2em;
   margin-bottom: 2em;
 }

table, th, td {
   margin: 0 auto;
   border: 1px solid black;
   border-radius: 4px;
   padding: 15px;
   }
   th, td {
   background-color: #fdffff;
   }

h1, h2, h3 {
   text-align: center;
   color: #2d2d2d;
   @include text-shadow(1px 1px 0 rgba(white, 1));
}

.form1 {
  display: block;
  max-width: 600px;
  text-align: left;
  margin: 20px auto;

  input[type=number], input[type=text], input[type=submit], textarea {
     border:0; outline:0;
     padding: 1em;
     @include border-radius(8px);
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     @include box-shadow(0 1px 1px rgba(black, 0.1));
     resize: none;
    
    &:focus {
       @include box-shadow(0 0px 2px rgba($red, 1)!important);
    }
  }
    #input-submit {
      color: black; 
      cursor: pointer;
     
     &:hover {
        @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
     }
   }
}
.form2 {
  display: block;
  max-width: 600px;
  text-align: left;
  margin: 20px auto;

  input[type=number], input[type=text] {
      border:0; outline:0;
      @include border-radius(8px);
      display: block;
      width: 100%;
      font-family: 'Merriweather', sans-serif;
      @include box-shadow(0 1px 1px rgba(black, 0.1));
      resize: none;
    
    &:focus {
        @include box-shadow(0 0px 2px rgba($red, 1)!important);
    };
  }
    #input-submit {
      color: black; 
      cursor: pointer;
      border:0; outline:0;
      padding: 1em;
      @include border-radius(8px);
      display: block;
      width: 100%;
      margin-top: 1em;
      font-family: 'Merriweather', sans-serif;
      @include box-shadow(0 1px 1px rgba(black, 0.1));
      resize: none;
      &:hover {
        @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
      }
    }
  }


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}

.center {
    display: flex;
    justify-content: center;
  }

/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.custom-select {
   position: relative;
 }
 
 select {
   appearance: none;
   /*  safari  */
   -webkit-appearance: none;
   /*  other styles for aesthetics */
   width: 100%;
   font-size: 1.15rem;
   /*padding: 0.675em 6em 0.675em 1em;*/
   background-color: #fff;
   border: 1px solid #caced1;
   border-radius: 0.25rem;
   color: #000;
   cursor: pointer;
 }
 
 .custom-select::before,
 .custom-select::after {
   --size: 0.3rem;
   content: "";
   position: absolute;
   right: 1rem;
   pointer-events: none;
 }
 
 .custom-select::before {
   border-left: var(--size) solid transparent;
   border-right: var(--size) solid transparent;
   border-bottom: var(--size) solid black;
   top: 40%;
 }
 
 .custom-select::after {
   border-left: var(--size) solid transparent;
   border-right: var(--size) solid transparent;
   border-top: var(--size) solid black;
   top: 55%;
 }

 .buttons {
   display: flex;}

.green_box {
  display: inline-block;
  padding: 1em 1.4em;
  font-size: xxx-large;
  position: relative;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -1.4em;
  background-color:#61df85;
}

.red_box {
  display: inline-block;
  padding: 1em 1.4em;
  font-size: xxx-large;
  position: relative;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -1.4em;
  background-color:#f05d4a;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  display: inline;
  visibility: hidden;
  width: 120px;
  background-color: rgb(69, 68, 68);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

 /* The side navigation menu */
 .sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #5c5c5c;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}


#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}